@model A3.Model.Entity
<div class="row mb-3">
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @placeholder = "First Name" })
</div>
<div class="row mb-3">
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" })
</div>
<div class="row mb-3">
    @Html.TextBoxFor(m => m.emailID, new { @type = "email", @class = "form-control", @placeholder = "email" })
</div>
<div class="row mb-3">
    @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "password" })
</div>
<div class="row mb-3">
    @Html.TextBoxFor(m => m.Password, new { @type = "password", @class = "form-control", @placeholder = "Re-Enter password" })
</div>

